body,
html {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #788ff5, #1deeee);
}

#root {
  font-size: 50px;
  color: white;
}

header {
  ul {
    font-size: 1.5rem;
    list-style-type: none;
  }
}
