:root {
  --primary: rgb(104, 104, 104);
  --secondary: rgb(165, 165, 165);
  --select: rgb(49, 150, 218);
  --select-hover: rgb(87, 171, 228);
  --highlight: rgb(0, 0, 0);
  --background-color: linear-gradient(45deg, #788ff5, #1deeee);
  --btnFont: 14px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 45px;
}
body,
html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

a,a:link{
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0 15px;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: var(--btnFont);
}

table {
  width: 100%;
  text-align: center;
  th {
    background: #333;
  }
}

thead {
  background-color: #333;
  color: #fff;
}

tbody{
  td,th{
    width: 18%;
  }
  img{
    width: 70%;
  }
  
}

.banner {
  width: 100vw;
  height: 230px;
}

.btnMain {
  background: var(--select);
  a {
    color: #fff;
    align-items: center;
  }
}
.btnMain:hover {
  cursor: pointer;
  background: var(--select-hover);
}

.btnSec {
  color: var(--select);
  background-color: #fff;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.d-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.login {
  color: #fff;
  padding: 40px;
  width: 350px;
  height: 500px;
  margin:0 auto;
  border-radius: 10px;
  background-color: var(--select);
  justify-content: space-between;
  input{
    width: 80%;
    padding: 0 30px;
    height: 50px;
    margin: 15px auto;
    border: 0;
    border-radius: 50px;
  }
  input:focus-visible{
    border: 0;

  }
  div{
    margin: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

header {
  z-index: 3;
  position: sticky;
  top: 0;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: var(--primary);
  font-size: 1.5rem;
  list-style-type: none;
  .logo {
    color: var(--highlight);
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 80px;
    img {
      height: 100%;
    }
  }
  .buyAmount{
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 1;
    background-color: red;
  }

  .links {
    font-size: 20px;
    display: flex;
    width: 60vw;
    justify-content: space-around;
    a {
      display: flex;
      color: var(--primary);
      align-items: center;
    }
  }
}
footer {
  background: black;
  width: 100vw;
  height: 100px;
  position: absolute;
  bottom: 0;
}
.searchContainer {
  width: 40vw;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  input {
    width: 40vw;
    font-size: 1rem;
    border: var(--primary) 1px solid;
    border-radius: 10px;
    padding: 10px;
  }
  .icon {
    position: absolute;
    top: 25%;
    right: 17px;
    z-index: 1;
  }
}
.bg {
  height: 586px;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  background-position: center center;
  opacity: 0.3;
  filter: blur(8px);
  -webkit-mask: linear-gradient(rgb(255, 255, 255), transparent);
}

.bg + .divcontainer {
  position: absolute;
  top: 20%;
  left: 15%;
}
.divcontainer > h1 {
  margin: 30px 0 40px 0;
}
.divcontainer {
  width: 75vw;
  height: 100vh;
  margin: auto;
  padding-top: 50px;
  .productList {
    display: flex;
    margin-top: 30px;
  }
  ul {
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    a {
      font-weight: 500;
      padding: 5px 30px;
      color: var(--secondary);
      border-bottom: var(--secondary) 2px solid;
    }
    a:hover {
      color: var(--primary);
    }
  }
  li a.active {
    color: var(--highlight);
    border-bottom: var(--highlight) 2px solid;
  }
  .text {
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    p {
      width: 75%;
      font-size: 24px;
    }
  }
  .img {
    justify-content: center;
  }
}
.cardInfo {
  padding-bottom: 35px;
  align-items: center;
  object-fit: cover;
  justify-content: space-around;
  justify-self: space-around;
  border-radius: 50%;
}
.cardInfo div:first-child {
  img {
    height: 40px;
    width: 40px;
  }
}
.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: #ccc 0px 3px 5px;

  .container {
    text-align: start;
    padding-left: 30px;
    .price {
      margin-top: 10px;
    }
    .d-flex {
      align-items: center;
    }
  }
  .imgContainer {
    height: 70%;
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .buyBtn {
    color: #fff;
    font-size: var(--btnFont);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 40px;
    transform: translateY(100%);
    background-color: var(--select);
    cursor: pointer;
    
  }
  .buyBtn.disabled {
    background: var(--primary);
    cursor: default
  }
}
.card.product {
  width: 300px;
  height: 450px;
  justify-content: space-between;
  p {
    font-size: 10px;
    font-weight: 700;
    color: var(--primary);
  }
}
.card:hover {
  transition: box-shadow 0.3s ease-in 0s;
  box-shadow: var(--primary) 0px 0px 50px;
  .buyBtn {
    display: flex;
    flex-direction: column;
    transform: translateY(0%);
    transition: ease-in 0.2s;
  }
  img {
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    transition: 0.2s;
  }
}
